name: coordinator_example
description: "Write your first coordinator example code"
publish_to: 'none'
version: 0.1.0+1

resolution: workspace

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  zenrouter:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
